/* Testing 
* {
    border: 0.25px solid cyan !important;
}
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    margin: 0 auto;
    width: 100%;
}

.nav-row {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    background-color: #ffffff;
}

.row {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    background-color: #b7e7ff;
}

.foot-row {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    background-color: #ffffff;
}

.nav-space {
    width: 16.6%;
    display: block;

}

.nav-1 {
    width: 100%;
    display: block;
    color: black;
    text-align: left;
    padding: 1em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.nav-1link {
    width: 33.3%;
    display: block;
    color: black;
    text-align: left;
    
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.nav-1:hover {
    color: #b7e7ff;
}

.nav-2 {
    width: 100%;
    display: block;
    color: black;
    text-align: left;
    padding: 1em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.nav-2link {
    width: 16.6%;
    display: block;
    color: black;
    text-align: left;
    
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.nav-2:hover {
    color: #b7e7ff;
}

.nav-3 {
    width: 16.6%;
    display: block;
    color: black;
    text-align: left;
    padding: 1em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.sec-left {
    width: 16.6%;

    height: 400px;
}

.sec-right {
    width: 16.6%;
 
    height: 400px;
}

.sec-8 {
    width: 66.6%;
    
    height: 400px;
    display: block;
    color: black;
    text-align: left;
    padding: 1em;
    padding-top: 100px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    height: auto;
    min-height: 100% !important;
}

.sec-6 {
    width: 33.3%;
    
    height: 400px;
    display: block;
    color: black;
    text-align: left;
    padding: 1em;
    padding-top: 100px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    height: auto;
    min-height: 100% !important;
}

.sec-3 {
    width: 16.6%;

    height: 400px;
    padding: 1em;
    padding-top: 200px;
    position: relative;
    height: auto;
    min-height: 100% !important;
}

.rule1 {
    width: 100%;
    border: 0.5px solid black;
    color: black;
    font-weight: bold;

}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
 
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;

    height: 400px;
    padding: 1em;
    padding-bottom: 50px;
    position: relative;
    height: auto;
    min-height: 100% !important;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;

    height: 400px;
    padding: 1em;
    padding-bottom: 50px;
    position: relative;
    height: auto;
    min-height: 100% !important;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;

    font-weight: bold;
}

.footer {
    width: 66.66%;
    height: 150px;
    
    padding: 1em;
    
}

.foot-2 {
    width: 16.66%;
    height: 150px;
    
    padding: 1em;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.example-img {
    max-width: 400px;
    min-width: 200px;        
    /*border: 1px solid black;*/
}

/* Blog page css below */

.rowblog {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    background-color: #fdc2bc;
}

.rowblog-s1 {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    background-color: #ebbcdb;
}

.rowblog-s2 {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    background-color: #b7e7cb;
}

.rowblog-s3 {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    background-color: #eee89c;
}

.blog-link {
    color: black;
    text-align: left;
    
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Sprint Blogs Nav */

.nav-1-sb {
    width: 100%;
    display: block;
    color: black;
    text-align: left;
    padding: 1em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.nav-1-sb:hover {
    color: #fdc2bc;
}

.nav-2-sb {
    width: 100%;
    display: block;
    color: black;
    text-align: left;
    padding: 1em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.nav-2-sb:hover {
    color: #fdc2bc;
}

/* Sprint 1 Nav */

.nav-1-sb-1 {
    width: 100%;
    display: block;
    color: black;
    text-align: left;
    padding: 1em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.nav-1-sb-1:hover {
    color: #ebbcdb;
}

.nav-2-sb-1 {
    width: 100%;
    display: block;
    color: black;
    text-align: left;
    padding: 1em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.nav-2-sb-1:hover {
    color: #ebbcdb;
}

/* Sprint 2 Nav */

.nav-1-sb-2 {
    width: 100%;
    display: block;
    color: black;
    text-align: left;
    padding: 1em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.nav-1-sb-2:hover {
    color: #b7e7cb;
}

.nav-2-sb-2 {
    width: 100%;
    display: block;
    color: black;
    text-align: left;
    padding: 1em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.nav-2-sb-2:hover {
    color: #b7e7cb;
}

.sec-6-image {
    width: 33.3%;
    
    height: 400px;
    display: block;
    color: black;
    text-align: left;
    padding: 1em;
    
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    height: auto;
    min-height: 100% !important;
}

/* Sprint 3 Nav */

.nav-1-sb-3 {
    width: 100%;
    display: block;
    color: black;
    text-align: left;
    padding: 1em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.nav-1-sb-3:hover {
    color: #eee89c;
}

.nav-2-sb-3 {
    width: 100%;
    display: block;
    color: black;
    text-align: left;
    padding: 1em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.nav-2-sb-3:hover {
    color: #eee89c;
}

